= form_for @newrevenue, class: "form",  url: revenues_path(@revenue) do |revenue|
  %br
  = revenue.label :name
  = revenue.text_field :name , id:'name'
  %br
  = revenue.label :gdp
  = revenue.text_field :gdp , id:'gdp'
  %br
  = revenue.label :tax_take
  = revenue.text_field :tax_take, id:'tax_take'
  %br
  = revenue.label :growth_rate
  = revenue.text_field :growth_rate, id:'growth_rate'
  %br
  = revenue.submit 'Input Values', :class => 'button'


  

%a.button-primary.circle-button
  Create Circle